/* pc먼저 만들고 모바일 만들기 */
/***************** header-wrapper *******************/
.header-wrapper {position: fixed; z-index: 99; width: 100%; display: flex; justify-content: space-between; background-color: #fff; border-bottom: 1px solid black;}
.header-wrapper .navi-wrap {display: flex;}
.header-wrapper .navi-wrap .navi {padding: 16px 24px; color: #777;}
.header-wrapper .navi-wrap .navi:hover {color: #111; background-color: #eee;}
.header-wrapper .search-wrap a {padding: 16px 24px; color: #777;}
.header-wrapper .search-wrap a:hover {color: #fff; background-color: #ff2600;}
.header-wrapper.mobile {display: none;}
.header-wrapper.mobile .bar-wrap a {padding: 16px 24px; color: #777;}
.header-wrapper.mobile .bar-wrap a:hover {color: #fff; background-color: #ff2600;}



.list-wrapper {max-width: 1200px; margin: auto; display: flex; flex-wrap: wrap;}
.list-wrapper .list {flex: 0 0 25%; padding: 1%;}

/* @media all, print, screen */
@media all and (max-width: 1200px) {
	.list-wrapper .list {flex: 0 0 33.3333%;}
} 

@media all and (max-width: 992px) {
	.list-wrapper .list {flex: 0 0 50%;}
} 

@media all and (max-width: 768px) {
	.header-wrapper {display: none;}
	.header-wrapper.mobile {display: flex;}
} 

@media all and (max-width: 576px) {
	.list-wrapper .list {flex: 0 0 100%;}
} 

@media all and (max-width: 320px) {

} 
