/* html {border: 10px solid orange; min-height: 100%; height: 100%;}
body {border: 10px solid green; height: 100%; padding: 100px;}
.wrapper {width: 100%; border: 10px solid red; height: 100%;}
.box {width: 100px; height: 100px; background-color: cadetblue;} */

/* 단위: vw/vh */
/* .wrapper {border: 10px solid red; width: calc(100% - 200px); height: calc(100vh - 200px); margin: 100px;}
.box {border: 10px solid blue;} */

/* .wrapper {border: 10px solid red; padding: 10vh 10%; font-size: 10vw;}  */

.wrapper{
	width: calc(100% - 200px);
	height: calc(100vh - 200px);
	margin: 100px;
	border: 10px solid red;
	position: relative;
	
}
.box{
	width: 100px;
	height: 100px;
	background-color: blue;
	animation-name: bounceInUp;
	animation-duration: 2s;
	animation-fill-mode: forwards; /* 진행한 끝에 멈춰있는 속성 */
	/*animation-iteration-count: 2; /* 반복횟수 */
	/*animation-direction: reverse; /* 진행방향 반대로 */
	/*animation-direction: alternate; /* 왕복 */
	/*animation-timing-function: linear; /* 같은속도로 이동함. 기본값 esae는 시작빠르게 마지막 느리게 움직임.(물리엔진 적용) */
	/*animation-play-state: paused;*/
	/*animation-delay: 2s; /* 시간이 지난뒤 시작됨. */

}

.box2{
	width: 100px;
	height: 100px;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	/* transform: translate(-50%,-50%); */
	font-size: 100px;
	animation-name: boxRotate;
	animation-duration: 1s;
	animation-iteration-count : infinite;
	animation-timing-function: linear; 
	animation-direction: alternate-reverse; /* 리버스를 먼저하고.. */ 
}

/* .box:active{
	animation-play-state: running;

} */

@keyframes boxAni{
	0%{transform: translate(0,0);}
	25%{transform: translate(calc(100vw - 320px),0);} /* 트랜슬레이트 안의 퍼센트는 자신의 크기 어쩔수없이 vw로 계산해야힘. */
	50%{transform: translate(calc(100vw - 320px),calc(100vh - 320px));}
	75%{transform: translate(0,calc(100vh - 320px));}
	100%{transform: translate(0,0);}
}



@keyframes boxRotate{

	0%{transform: rotate(0);}
	100%{transform: rotate(720deg);}

}