/***************** 전역설정 Global *******************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html, body {font-family: 'Lato', sans-serif;}


/***************** header-wrapper *******************/
.header-wrapper {position: fixed; z-index: 99; width: 100%; display: flex; justify-content: space-between;}
.header-wrapper .navi-wrap {display: flex;}
.header-wrapper .navi-wrap .navi {padding: 16px 24px; color: #777;}
.header-wrapper .navi-wrap .navi:hover {color: #111; background-color: #eee;}
.header-wrapper .search-wrap a {padding: 16px 24px; color: #777;}
.header-wrapper .search-wrap a:hover {color: #fff; background-color: #ff2600;}

/***************** main-wrapper *******************/
.main-wrapper {height: 100vh; background-image: url('../img/parallax1.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center;}
.main-wrapper > div {height: 100%; display: flex; justify-content: center; align-items: center; background-color: rgba(255,255,255,.3);}
.main-wrapper h1.logo {background-color: #333; color: #fff; font-size: 24px; letter-spacing: 16px; font-weight: bold; padding: 16px 16px 16px 32px;}


/***************** about-wrapper *******************/
.about-wrapper {height: 100vh;}

/***************** pf-wrapper *******************/


/***************** contact-wrapper *******************/


/***************** footer-wrapper *******************/


/***************** 반응형 RESPONSIVE *******************/